.modeloEmail{
    justify-content: left;
    margin-left: 2%;
}

.incluirExcluir{
    display: flex;
    justify-content: left;  
    margin-bottom: 3%;
    font-size: 1.6em;
    
}
.elementInEx{
    display: flex;
    align-items: center;
    margin-right: 2%;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 10px 10px 10px 10px; 
    border-radius: 10px;
}

.incluirExcluir :hover{
    color: #FFBB33;
}

.elementInEx input{
    background: none;
    display: none;
}

.elementInEx label{
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.texto{
    align-items: center;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 10px; 
    border-radius: 10px;
}

.alinhamentoEntradas{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.entradas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 1%;
}

.c input,
.c textarea{
    background-color: #f09f88aa !important;
    color: #fffffff2 !important;
    cursor: pointer !important;

}

.corpo textarea{
    height: 180px;
}

.ass textarea{
    height: 80px;
}

.entradas label{
    margin-right: 5px;
    
}

.entradas input,
.entradas select,
.entradas p,
.entradas textarea {
    flex: 1;
    background-color: #5e4f4b60;
    color: #fffffff2;
    outline: none;
    border: none;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 4px;
    padding-left: 2%;
    cursor: pointer;
    
}

.entradas li{
    list-style-type: none;
}

.entradas select {
    border: 2px solid #5e4f4b65;
}

.tags{
    justify-content: left;
}
.tags li{
    margin-left: 1%;
}

.message{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 125px;
    font-weight: bolder;
    font-size: 1.5em;
    opacity: 70%;
}
.button {
    justify-content: left;
    margin-left: 350px;
    padding: 5px;
}
.button button {
    width: 6em;
    height: 1.8em;
    border-radius: 10px;
    border: 2px solid #7f655e;
    background-color: #7f655e95;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
}

.button button:hover{
    color: #FFBB33;
}

.bSize {
    margin-left: 0;
}
.bSize button{
    font-size: 0.9em;
    margin-left: 1%;
}

.d {
    color: #FFBB33;
}

.editarExcluir{
    display: flex;
    flex-direction: row;
}

.editarExcluir button{
    background: none;
    border: none;
}

.editarExcluir button:hover{
    color: #FFBB33;
}

.e{
    margin-left: 40px;
    padding: 2px;
}

.mostrarTags{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align-last: center;
}

.mostrarTags div{
    justify-content: center;
    margin-right: 2%;
}

.mostrarTags p, .mostrarTags button{
    font-size: 1.5em;
    margin-bottom: 3%;
    padding: 2%;
    background-color: #7f655ea6;
    border: 2px solid #7f655e;
    color: #FFF;
    border-radius: 10px;  
    font-weight: bolder;
}

.mostrarTags button:hover {
    color: #FFBB33;
}

