.remetente{
    justify-content: left;
    margin-left: 2%;
}

.incluirExcluir{
    display: flex;
    justify-content: left;  
    margin-bottom: 3%;
    font-size: 1.6em;
    
}
.elementInEx{
    display: flex;
    align-items: center;
    margin-right: 2%;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 10px 10px 10px 10px; 
    border-radius: 10px;
}

.incluirExcluir :hover{
    color: #FFBB33;
}

.elementInEx input{
    background: none;
    display: none;
}

.elementInEx label{
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.texto{
    align-items: center;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 10px; 
    border-radius: 10px;
}

.alinhamentoEntradas{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.entradas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 1%;
}

.b {
    width: 500px;
}

.c input{
    background-color: #f09f88aa !important;
    color: fffffff2 !important;
    cursor: pointer !important;
}

.entradas label{
    margin-right: 5px;
    
}

.entradas input,
.entradas select,
.entradas p {
    flex: 1;
    background-color: #5e4f4b60;
    color: #fffffff2;
    outline: none;
    border: none;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 4px;
    padding-left: 2%;
    cursor: pointer;
    
}

.entradas select {
    border: 2px solid #5e4f4b65;
}

.message{
    display: absolute;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 250px;
    height: 125px;
    font-weight: bolder;
    font-size: 1.5em;
    opacity: 70%;
}

.button {
    justify-content: left;
    margin-left: 350px;
    padding: 5px;
}

.button button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #7f655e;
    background-color: #7f655e95;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
}

.button button:hover{
    color: #FFBB33;
}

.d {
    color: #FFBB33;
}

.editarExcluir{
    display: flex;
    flex-direction: row;
}

.editarExcluir button{
    background: none;
    border: none;
}

.editarExcluir button:hover{
    color: #FFBB33;
}

.e{
    margin-left: 40px;
    padding: 2px;
}


