.cadastrar {
    align-items: center;
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
}

.cadastrar label{
    font-size: 2em;
    font-weight: bolder;
}

.cadastrar select {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.15em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}

.cadastrar option{
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}
.cadastrar option:checked{
    background-color: #5e4f4b;
    color: #FFBB33;
}