.cadastrar {
    align-items: center;
    border: 2px solid black;
}

.cadastro{
    margin-bottom: 3%;
}

.cadastrar label{
    font-size: 2em;
    font-weight: bolder;
}

.cadastrar select {
    border: none;
    outline: none;
    margin: 0 0 0 10px;
    padding: 6px;
    border-radius: 10px;
    font-size: 1.15em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}

.option{
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}
.option:checked{
    background-color: #5e4f4b;
    color: #FFBB33;
}