.enviar {
    width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-top: 3%;
    background-color: #EDC6BE;
    color: #5e4f4b;

}

.loading{
    background-color: #EDC6BE;
    width: 100%;
    margin: 0;    
}

.centro{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.label{
    font-size: 2.2em;
    font-weight: bolder;
}

.select {
    border: none;
    outline: none;
    margin: 0 0 0 10px;
    padding: 6px;
    border-radius: 10px;
    font-size: 1.15em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}

.option{
    
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
}
.option:checked{
    background-color: #5e4f4b;
    color: #FFBB33;
}