.contact{
    width: 100%;
    margin-top: 2%;
    margin-left: 10%;
}

.img {
    width: 10vh;
    height: auto;
}

.item li{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.4em;
    font-weight: bolder;
    color: #5e4f4b;
    margin-bottom: 2%;
    
}
.item a{
    margin-right: 2%;
}