.list {
    list-style: none;
    display: flex;
    align-items: center;
}
.list li{
    margin-left: 1.5em;
}

.img {
    width: 55px;
    height: auto;
}

.cont{
    font-weight: bold;
    font-size: 1.45em;
    color: #FFF;
}