  .logo {
    margin-right: 1%;
  }
  .logo img{
    width: 75px; /* Ajustado o tamanho da imagem */
  }
  
.menu {
    list-style: none;
    display: flex;
  }
  
.item{
    font-weight: bold;
    font-size: 1.45em;
    cursor: pointer;
    color: #FFF;
    margin-right: 2em;
}

.item:hover{
  color: #FFBB33;
}

.item a{
    color: #FFF;
    text-decoration: none;
}

.item a:hover{
    color: #FFBB33;
}

.sub_options {
  position: absolute;
}

.sub_optionsB {
  top: 0%;
  left: 100%;
  padding-left: 4px;
}
.sub_options ul {
  list-style: none;
}

.itemB {
  color: #5E4F4B;
  background-color: #FFF;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 0.2em;
}
 .itemB:hover{
  color: #FFBB33;
 }
