.manual{
    margin-left: 2%;

}

.entradas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    border: none;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    font-size: 1.4em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 2px;
    padding-left: 10px;
}

.entradas label{
    margin-right: 5px;
}
.entradas input,
.entradas select,
.entradas textarea {
    flex: 1;
    justify-content: center;
    background-color: #5e4f4b00;
    color: #fffffff2;
    outline: none;
    border: none;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 2px;
    
}

.entradas select {
    border: 2px solid #5e4f4b65;
}

.entradas option{
    background-color: #7f655e;
    color: #fffffff2;
}

.entradas textarea {
    background-color: #7f655e36;
}

.textarea {
    height: 150px;
}
.textarea textarea{
   
    height: 100%; /* O textarea assume toda a altura disponível */
  resize: none;
}

.button {
    display: flex;
    justify-content: left;
    margin-left: 30%;
    padding: 5px;
}
.button button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #7f655e;
    background-color: #7f655e95;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
}

.button button:hover{
    color: #FFBB33;
}

.message{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 125px;
    font-weight: bolder;
    font-size: 1.5em;
    opacity: 70%;
}
