.padrao{
    display:flex;
    justify-content: left;
}

.left{
    margin-right: 15%;
}

.entradas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    border: none;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 2px;
    padding-left: 10px;
}

.entradas label{
    margin-right: 5px;
}

.entradas input,
.entradas select {
    flex: 1;
    justify-content: center;
    background-color: #5e4f4b60;
    color: #fffffff2;
    outline: none;
    border: none;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 2px;
    
}

.entradas select {
    border: 2px solid #5e4f4b65;
}

.entradas option{
    background-color: #7f655e;
    color: #fffffff2;
}

.button {
    display: flex;
    justify-content: right;
    padding: 5px;
}
.button button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #7f655e;
    background-color: #7f655e95;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
}

.button button:hover{
    color: #FFBB33;
}

.message{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 250px;
    height: 125px;
    font-weight: bolder;
    font-size: 1.5em;
}

.right {
    display: block;
    align-items:flex-start;
    width: 65%;
    border: none;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #5e4f4b65;
    color: #fffffff2;
    font-weight: bolder;
    padding: 2px;
    padding-left: 10px;
}

.right img{ 
    width: 70%
}
