.body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 137.68px - 8vh);
    background-color: #EDC6BE;
    color: #5e4f4b;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}


.navbarFooter {
        display: flex;
        position: sticky;
        justify-content: left;
        align-items: center; 
        background-color: #5E4F4B;
        justify-content: left;
        align-items: center;
        padding-left: 5%;
}
