.body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: calc(100vh - 138px);
    background-color: #EDC6BE;
    color: #5e4f4b;
}

.navbarFooter {
        display: flex;
        position: sticky;
        justify-content: left;
        align-items: center; 
        background-color: #5E4F4B;
        justify-content: left;
        align-items: center;
        padding-left: 5%;
}